<h1>Edit A Figure</h1>

<form action="/figures/<%= @figure.id %>" method="POST">

<input id="hidden" type="hidden" name="_method" value="PATCH">

  <label>Figure Name:</label>
  <input type="text" id="figure_name" name="figure[name]" value="<%= @figure.name %>">
  <br><br>

  <label>Edit Title(s):</label>

  <% Title.all.each do |title| %>

    <!-- <label><%= title.name %></label> -->
    <% binding.pry %>
    <br><input type="checkbox" id="title_<%=title.id %>" name="figure[title_ids][]" value="<%= title.id %>" <%= 'checked' if figure[title_ids][].include?(id) %>>
      <!-- <input type="checkbox" name="genres[]" value="<%= genre.id %>" id="<%= genre.name %>" <%= 'checked' if @song.genres.include?(genre) %>> -->
    <label><%= title.name %></label>
  <% end %>

  <p>or add a new Tile:
  <br><input type="text" name="title[name]" id="new_title"></p>
  <br></br>

  <label>Edit Landmarks:</label>

  <% Landmark.all.each do |landmark| %>
    <!-- <label><%= landmark.name %></label> -->
    <br><input type="checkbox" id="landmark_<%=landmark.id %>" name="figure[landmark_ids][]" value="<%= landmark.id %>">
    <label><%= landmark.name %></label>
  <% end %>

  <p>or add a new Landmark:
  <br><input type="text" name="landmark[name]" id="new_landmark"></p>
  <br><br>


  <input type="submit" value="Edit Figure">

</form>
